# Dependencias
node_modules/
npm-debug.log*

# Builds de Electron
dist/
build/
out/
win-unpacked/
*.exe

# Archivos temporales y de sistema
.DS_Store
Thumbs.db

# Facturas generadas
facturas_pos/

# Archivos de entorno o configuración local
.env
